.body {
    font-family: "Quicksand", "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
#raleway{
    font-family: "Raleway";
    font-size: .96rem;
}
.raleway-small{
    font-size: .94rem;
}
.regular-small-font{
    font-size: 1.25rem;
}

/* Shared Styles */
.display-flex{
    display: flex;
}


/* Navbar */
.nav{
    max-width: 1160px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
.logo{
    align-items: center;
}
.logo > h4{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 11px;
}
.menu > ul{
    list-style: none;
}
.menu ul li{
    max-width: 390px;
    margin-right: 32px;
}
.menu ul a{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}
.menu-icon{
    display: none;
}
.home{
    color: orange;
}
.about{
    color: skyblue;
}
.facilities{
    color: rgba(5, 212, 223, 1);
}
.admission{
    color:#5D58EF;
}
.contact-btn{
    background-color: orange;
    font-size: 1.25rem;
    font-weight: 500;
    color: white;
    padding: 10px 61px 10px 61px;
    border: none;
    border-radius: 12px;
}
.contact-btn:hover{
    color: black;
    background-color: white;
    border: 2px solid orange;
    border-radius: 12px;
    transition: .5s ease-in;
}
/* Main */
main > section{
    max-width: 1160px;
    margin: 0 auto;
}
/* Hero Section */
.hero{
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.empower{
    max-width: 640px;
}
.empower > h1{
    font-size: 3.5rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 24px;
}
.orangee{
    color: orange;
}
.bluee{
    color:skyblue
}
.hero-img{
    max-width: 469px;
}
.hero-img img{
    width: 100%;
}
.enroll-btn{
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
    background-color: black;
    padding: 10px 47px 10px 47px;
    border: none;
    border-radius: 12px;
    margin-top: 24px;
}
.enroll-btn:hover{
    background-color: white;
    color: black;
    border: 1px solid black ;
    border-radius: 12px;
    transition: .5s ease-in;
}
/* Curriculum Section */
.curriculum{
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-image: url('assets/bg.png');
    background-position: center;
    background-size: cover;
    
}
.curriculum h3{
    font-size: 2.87rem;
    font-weight: 700;
    margin-top: 60px;
    margin-bottom: 80px;
}
.card-container{
    justify-content: space-between;
    margin-bottom: 80px;

}
.card{
    max-width: 280px;
    text-align: center;
    box-shadow: 0 0 29px .94px rgba(0, 0, 0, 0.05);
    border-radius: 19px;
    padding: 35px;
}
.card h5{
    font-size: 1.56rem;
    font-weight: bold;
    margin-top: 32px;
}
.card p{
    color: #808080;
}
.card a{
    text-decoration: none;
    font-size: .9375rem;
    font-weight: 700;
}
.kinder-card{
    background-image: linear-gradient(to bottom, rgba(222, 245, 255, 1) 0%,rgba(255, 255, 255, 0) 40% );
    border: 1px solid rgba(222, 245, 255, .7);
}
.kinder-card a{
    color: #64C8FF;   
}
.elementary-card{
    background-image: linear-gradient(to bottom, rgba(255, 244, 220, 1) 0%,rgba(255, 255, 255, 0) 40%);
    border: 1px solid rgba(255, 244, 220, 1) ;
    margin-right: 32px;
    margin-left: 32px;
}
.elementary-card a{
    color: #F0AA00;
}
.middle-card{
    background-image: linear-gradient(to bottom, rgba(238, 225, 255, 1) 0%,rgba(255, 255, 255, 0) 40%);
    border: 1px solid rgba(238, 225, 255, 1);
}
.middle-card a{
    color: #8700FF;
}

.curriculum button{
    height: 60px;
    width: 60px;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 50%;
    margin-right: 10px;
}
.curriculum button:hover{
    background-color: white;
    border: 1px solid orange;
    color: black;
    transition: 0.3s ease-in;
}
/* Responsive */
 /*normal*/
@media screen and (max-width:576px) {
    .nav{
        border: 1px solid orange;
        padding: 12px 16px 12px 16px;
    }
    .logo h4{
        display: none;
    }
    .menu, .contact{
        display: none;
    }
    .menu-icon{
        display: block;
        height: 30px;
        width: 30px;
    }
    .hero{
        flex-direction: column;

    }
    .empower{
        order:1;
        text-align: center;
    }
    .card-container{
        flex-direction: column;
    }
    .card{
        margin: 20px auto;
    }
    .curriculum h3{
        text-align: center;
    }
    .curriculumn-btn{
        display: none;
    }
    
}
/*land scape*/
/*@media screen and (min-width:577px) and (max-width:992px) {
    .hero{
        width: 100%;
    }
}*/